

body {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    background-color: aqua;
    background-image: url("https://i.imgur.com/JqJQ5pm.png");
    
}

h1{
background-color: blueviolet;
justify-content: center;
margin: auto;
position: relative;
font-family: Tahoma, Geneva, sans-serif;
/* display: inline; */
border: 10px solid red;
height: 70px;
width: 400px;
padding-top: 50px;
font-size: 50px bold;
background-image: url("https://i.imgur.com/7DwueB6.gif");

}


/* p{
    background-color: blueviolet;
    justify-content: center;
    margin: auto;
    position: relative;
    font-family: Tahoma, Geneva, sans-serif; 
   
} */




form [type=text] {
    border: 10px solid red;
    /* border-radius: 4px; */
    width: 200px;
    height: 20px;
  }


  form [placeholder="Saerch For Hero"]{
      font-size: 20px;
      color: black;
      

  }


  form [type=submit] {
      color: blueviolet;
      background-color: black;
      font-family: Tahoma, Geneva, sans-serif;
      width: 200px;
      height: 50px;
      font-size: 25px;
      margin: 20px;
      border: 10px red solid;
      
  }


  #imgh{
    border: 10px solid red;

  }

  p{
    /* background-color: blueviolet; */
    display: inline;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    align-items: center;
    

  }


  h2{
    /* background-color: blueviolet; */
    font-family: Tahoma, Geneva, sans-serif;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin: auto;
    align-items: center;
  }


  div{
      background-color: blueviolet;
      display: inline-block;
      align-items: center;
  }